* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
        outline-color: #6bbb14;
}

body, button, pre {
    font-family: 'Source Sans Pro','Roboto','Droid Sans','Helvtica Neue','Calibri',sans-serif;
}

html {
    position: relative;
    overflow-y: scroll;
}

.section {
    max-width: 65em;
    margin: 0 auto;
    padding: 2em 1em;
    text-align: center;
    position: relative;
}

body {
    color: #5e656b;
    position: relative;
}

.clearfix {
    *zoom: 1;
}

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .clearfix:after {
        clear: both;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    color: #6bbb14;
    padding: .5em 0;
}

h2 {
    font-size: 2.25rem;
    margin: .5em 0;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #5e656b;
    border-bottom: 1px solid #ebebeb;
}

    a:hover {
        color: #6bbb14;
        border-bottom-color: #9eec49;
    }

.purchase, .btn {
    display: inline-block;
    padding: .4em .75em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
}

    .purchase:hover, .btn:hover {
        cursor: pointer;
    }

    .purchase:focus, .btn:focus {
        outline: 2px solid #85e71b;
    }

    .purchase:active, .btn:active {
        -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.19999999999999996);
        -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.19999999999999996);
        box-shadow: inset 0 2px 3px rgba(0,0,0,0.19999999999999996);
    }

    .purchase.pending, .btn.pending, .purchase.disabled, .btn.disabled {
        opacity: .6;
        filter: alpha(opacity=60);
    }

    .purchase.ccjs-complete, .btn.ccjs-complete, .purchase.ccjs-complete:hover, .btn.ccjs-complete:hover {
        background: white;
        color: #6bbb14;
        border-color: transparent;
    }

    .purchase.pending, .btn.pending, .purchase.disabled, .btn.disabled, .purchase.ccjs-complete, .btn.ccjs-complete {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

        .purchase.pending:hover, .btn.pending:hover, .purchase.disabled:hover, .btn.disabled:hover, .purchase.ccjs-complete:hover, .btn.ccjs-complete:hover {
            cursor: default;
        }

    .purchase.recoverable-error, .btn.recoverable-error, .purchase.recoverable-error:hover, .btn.recoverable-error:hover {
        border-color: transparent;
        color: #f54828;
        background: white;
    }

        .purchase.recoverable-error:hover, .btn.recoverable-error:hover {
            cursor: default;
        }

.green-btn, .purchase {
    background-image: -moz-linear-gradient(top,#78d216,#6bbb14);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#78d216),to(#6bbb14));
    background-image: -webkit-linear-gradient(top,#78d216,#6bbb14);
    background-image: -o-linear-gradient(top,#78d216,#6bbb14);
    background-image: linear-gradient(to bottom,#78d216,#6bbb14);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff78d216',endColorstr='#ff6bbb14',GradientType=0);
    border-color: #5ea412 !important;
    color: white;
}

    .green-btn:hover, .purchase:hover {
        background-image: -moz-linear-gradient(top,#85e71b,#6bbb14);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#85e71b),to(#6bbb14));
        background-image: -webkit-linear-gradient(top,#85e71b,#6bbb14);
        background-image: -o-linear-gradient(top,#85e71b,#6bbb14);
        background-image: linear-gradient(to bottom,#85e71b,#6bbb14);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff85e71b',endColorstr='#ff6bbb14',GradientType=0);
        color: white;
    }

    .green-btn:active, .purchase:active {
        background-image: -moz-linear-gradient(top,#6bbb14,#73c915);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#6bbb14),to(#73c915));
        background-image: -webkit-linear-gradient(top,#6bbb14,#73c915);
        background-image: -o-linear-gradient(top,#6bbb14,#73c915);
        background-image: linear-gradient(to bottom,#6bbb14,#73c915);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6bbb14',endColorstr='#ff73c915',GradientType=0);
    }

    .green-btn.disabled, .purchase.disabled, .green-btn.pending, .purchase.pending, .green-btn.disabled:hover, .purchase.disabled:hover, .green-btn.pending:hover, .purchase.pending:hover {
        background: #6bbb14;
    }


.ccjs-card div, .ccjs-card-style div {
    margin: 0;
    padding: 0;
}

.ccjs-card input, .ccjs-card-style input, .ccjs-card select, .ccjs-card-style select, .ccjs-card label, .ccjs-card-style label, .ccjs-card fieldset, .ccjs-card-style fieldset, .ccjs-card legend, .ccjs-card-style legend, .ccjs-card button, .ccjs-card-style button {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    font-family: inherit;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    z-index: 2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ccjs-card fieldset, .ccjs-card-style fieldset {
    border: 0;
}

.ccjs-card label, .ccjs-card-style label, .ccjs-card legend, .ccjs-card-style legend, .ccjs-card fieldset, .ccjs-card-style fieldset {
    line-height: 1.5em;
    height: 1.5em;
    color: #5e656b;
    border: 0;
}

.ccjs-card input, .ccjs-card-style input, .ccjs-card select, .ccjs-card-style select, .ccjs-card button, .ccjs-card-style button {
    border: 1px solid #c7cbce;
}

    .ccjs-card input:focus, .ccjs-card-style input:focus, .ccjs-card select:focus, .ccjs-card-style select:focus, .ccjs-card button:focus, .ccjs-card-style button:focus {
        outline: 0;
        border: 1px solid #ffcd78;
        -webkit-box-shadow: inset 0 0 3px rgba(255,195,94,0.9);
        -moz-box-shadow: inset 0 0 3px rgba(255,195,94,0.9);
        box-shadow: inset 0 0 3px rgba(255,195,94,0.9);
    }

.ccjs-card input, .ccjs-card-style input, .ccjs-card select, .ccjs-card-style select {
    background-color: white;
    color: #5e656b;
    font-size: 1.25em;
    line-height: 1;
    height: 2em;
}

.ccjs-card input, .ccjs-card-style input {
    padding-left: .25em;
    line-height: 2em;\9
}

    




.ccjs-card .ccjs-csc-diagram-amex .ccjs-card-number, .ccjs-card-style .ccjs-csc-diagram-amex .ccjs-card-number {
        margin-top: 3.85em;
        text-align: center;
        width: 100%;
        font-size: 1.5em;
        letter-spacing: .15em;
    }

.ccjs-card .ccjs-csc-diagram-amex .ccjs-card-code, .ccjs-card-style .ccjs-csc-diagram-amex .ccjs-card-code {
        position: absolute;
        top: 0;
        margin-top: 4.8125em;
        margin-right: 3em;
        right: 0;
    }

.ccjs-card label.ccjs-csc, .ccjs-card-style label.ccjs-csc {
    position: absolute;
    right: 1.5em;
    top: 2.25em;
    text-align: right;
    z-index: 3;
    width: 7.5em;
    white-space: nowrap;
}

.ccjs-card label.ccjs-csc input, .ccjs-card-style label.ccjs-csc input {
        right: 1.2em;
        top: 1.2em;
        position: absolute;
        width: 2.95em;
    }

.ccjs-card .ccjs-csc-diagram-wrapper.ccjs-active .ccjs-csc-diagram, .ccjs-card-style .ccjs-csc-diagram-wrapper.ccjs-active .ccjs-csc-diagram, .ccjs-card .ccjs-csc-diagram-wrapper.ccjs-active .ccjs-csc-diagram-amex, .ccjs-card-style .ccjs-csc-diagram-wrapper.ccjs-active .ccjs-csc-diagram-amex {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    -webkit-transition: opacity .3s 0s,visibility 0s 0s;
    -moz-transition: opacity .3s 0s,visibility 0s 0s;
    -o-transition: opacity .3s 0s,visibility 0s 0s;
    transition: opacity .3s 0s,visibility 0s 0s;
}



 
.ccjs-card {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    background: #fafafa;
    font-size: 16px;
    font-family: 'Source Sans Pro','Helvtica','Arial',san-serif;
    text-align: left;
    position: relative;
    z-index: 10000;
    margin: 1em auto;
    border: 1px solid #dbdbdb;
}

    .ccjs-card, .ccjs-card .ccjs-csc-diagram, .ccjs-card .ccjs-csc-diagram-amex {
        width: 23em !important;
        height: 14em !important;
        -webkit-border-radius: .75em;
        -moz-border-radius: .75em;
        border-radius: .75em;
    }

        .ccjs-card .ccjs-csc-diagram, .ccjs-card .ccjs-csc-diagram-amex {
            border: 1px solid #c2c2c2;
        }

        .ccjs-card label.ccjs-number {
            top: 2.25em;
            left: 1.5em;
            width: 13.25em;
            position: relative;
        }

            .ccjs-card label.ccjs-number input {
                width: 10.35em;
                position: absolute;
                z-index: 0;
                top: 1.2em;
                left: 0;
            }

                .ccjs-card label.ccjs-number input.ccjs-hidden {
                    visibility: hidden;
                }

                .ccjs-card label.ccjs-number input.ccjs-number-formatted {
                    z-index: 1;
                }

        .ccjs-card .ccjs-expiration {
            position: absolute;
            bottom: 4.75em;
            right: 1.5em;
            width: 8em;
        }

            .ccjs-card .ccjs-expiration select {
                font-size: 1em;
                *font-size: 1.5em;
            }

            .ccjs-card .ccjs-expiration legend {
                *left: -0.5em;
            }

            .ccjs-card .ccjs-expiration .ccjs-month, .ccjs-card .ccjs-expiration .ccjs-year {
                width: 3.5em;
                *width: 2.8333333333333335em;
                position: absolute;
                top: 100%;
                *margin-top: 1px;
            }

            .ccjs-card .ccjs-expiration .ccjs-year {
                right: 0;
            }

            .ccjs-card .ccjs-expiration:after {
                content: '/';
                position: absolute;
                top: 1.5em;
                line-height: 2;
                left: 3.5em;
                width: 1em;
                text-align: center;
            }

        .ccjs-card label.ccjs-name {
            position: absolute;
            bottom: 4.75em;
            left: 1.5em;
            width: 11em;
        }

            .ccjs-card label.ccjs-name input {
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                top: 1.5em;
                font-size: 1em;
            }

      




   





