

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,address, em,q, s, samp, small, strike, strong,  nav ul, nav li,form,nav{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}

body{
	
    background: #fff0e6;
	font-family: 'Oxygen', sans-serif;
}
.main{
    margin: 1em 2em 5em 25em;
	width:44%;
}


.main h6{
    font-size:2em;
    color:black;
    font-family:Arial;

}

h4{
font-size: 2em; 
text-align: center; 
color: black; 
font-family: Arial;
padding:1%;
}


span.term a{
	color: #1888A8;
	font-weight: bold;
}
span.term a:hover{
	color:#fff;
}
.lable input[type="text"] {
	/*padding: 15px;
	font-size: 1.1em;
	margin: 18px 0px;*/
	color: #666666;
	/*width:87%;*/
	cursor: pointer;
	font-family: 'Oxygen', sans-serif;
	outline: none;
	font-weight: 600;
	margin-left: 3px;
	background: #FFFFFF;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border-left: 6px solid #fff;
	border-bottom: none;
	border-right: none;
	border-top: none;
}

.lable-2 input[type="time"],input[type="date"],input[type="text"] { 
	padding: 14px;
	width: 94%;
	font-size: 1em;
	margin: 18px 0px;
	border:none;
	color: #666666;
	cursor: pointer;
	background: none;
	float: left;
	outline: none;
	font-weight: 700;
	font-family: 'Oxygen', sans-serif;
	background: #ffffff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border-left: 6px solid #fff;
	border-bottom: none;
	border-right: none;
	border-top: none;
}

.submit{

	padding:5px 4px;
	text-align: center;
}
input[type=submit] {
	padding: 17px 30px;
	color: #fff;
	float: right;
	font-family: 'Oxygen', sans-serif;
    background:#ffa366;
	border: 1px solid #ffc299;
	cursor: pointer;
	font-size: 18px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	outline:none;
	width: 100%;
	-webkit-appearance: none;
}


input[type=time] {
	padding: 10px 10px;
	color: #fff;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	outline:none;
	width: 70%;
	-webkit-appearance: none;
}
.submit input[type=submit]:hover {
	 background:#ffc299;
	 border:1px solid #ffc299;
}
/**start-copy-right**/
.copy-right {
	text-align: center;
	margin: 2em 0;
}
.copy-right p {
	color: #FFF;
	font-size:1em;
}
.copy-right p a {
	font-family: 'Oxygen', sans-serif;
	font-size:1em;
	font-weight:600;
	color:#55ACEE;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right a:hover{
	color:#fff;
}
.col_1_of_2:first-child {
	margin-left: 0;
}
.span_1_of_2 {
	width:49.7%;
}
.col_1_of_2 {
	display: block;
	float: left;
	margin:0 0 0 0.6%;
}
.col_1_of_f:first-child {
	margin-left: 0;
}
.span_1_of_f {
	width:49.7%;
}
.col_1_of_f {
	display: block;
	float: left;
	margin:0 0 0 0;
}






